<nav role="navigation">
  <ul>
    <li><a id="index" href="/" {% if page.url == "/" %}class="active"{% endif %}>nicolassauret.net</a></li>
    <li><a href="/about" {% if page.url == "/about/" %}class="active"{% endif %}>À propos</a></li>
    <!-- <li><a href="/projects/" {% if page.url == "/projects/" %}class="active"{% endif %}>Projets</a></li> -->
    <li><a href="/recherches/" {% if page.url == "/recherches/" %}class="active"{% endif %}>Recherches</a></li>
    <li><a href="/recherches/#publications" {% if page.url == "/recherches/#publications" %}class="active"{% endif %}>Publications</a></li>
    <li><a href="/carnets" {% if page.url == "/carnets/" %}class="active"{% endif %}>Carnets</a></li>
  </ul>
</nav>
