:root {

    // blue/grey
    // --color1:   #27374D;
    // --color2:   #526D82;
    // --color3:   #9DB2BF;
    // --back:     #DDE6ED;
    // --front:    #27374D;

    // greens
    // --color1:   #5C8984;
    // --color2:   #545B77;
    // --color3:   #606060;
    // --back:     #F2D8D8;
    // --front:    #545B77;

    --back:     #fdf6d1;
    --front:    #040d31;
    --color1:   var(--front);
    --color2:   var(--front);
    --color3:   #9DB2BF;
    
    --background-color: var(--back);
    --text-color: var(--color2);
    --text-lighter-color: var(--color3);
    --title-color: var(--color2);
    --metadata-color: #888;
    --nav-color: var(--back);
    --nav-background-color: var(--color1)
    --accent-color: var(--color1);
    --link-color: var(--color1);
    --link-visited-color: var(--color2);
    --light-border-color: var(--color2);
    --strong-border-color: var(--color1);
    }
    
@font-face {
    font-family: "Arsenal";
    src: url("/assets/arsenal/Arsenal-Regular.otf");
    }

html {
  box-sizing: border-box;
  background-color: var(--background-color);
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
    color: var(--front);
}

h1, h2, h3, h4 {
	font-weight: bold;
    color: var(--title-color);
}

hr {
    background: var(--strong-border-color);
    border: 0;
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a {
        margin: 0.5rem;
        text-transform: capitalize;
    }
}

footer {
    margin: 2rem 0;
}
