body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: "Arsenal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--back);
}

header p strong {
    text-transform:uppercase ;
}

header a, header a:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
}

.post-title {
    background: var(--title-color);
    margin: 2rem 0;
    color: var(--back);
    padding: 2rem 2rem;
    font-weight: bold;
}

.post-title2 {
    font-size: 1rem;
    margin: 0 0;
    padding: 0 2rem;
    font-weight: bold;
    color: var(--title-color);
}

a,a:visited {
  color: var(--link-color);
  // font-weight: bold;

  &:hover {
    color: dodgerblue;
  }
}

a.active, header a.active {
    background-color: var(--color1);
    padding: 0.5rem;
    color: var(--nav-color);
    font-weight: bold;
}

blockquote {
  background: var(--back);
  border-left: 5px solid var(--strong-border-color);
  // font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 90%;
  // color: var(--color1);
}

pre {
  background: var(--front);
  color: var(--back);
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.date {
  opacity: 0.6;
}

h1.page-title {
  font-size: 2rem;
  text-align: center;
}

.center {
  text-align: center;
}

.home-citation {
  background-color: var(--back);
  text-align: right;
  border-right: 5px solid var(--strong-border-color);
  border-left: none;
}

a#index {
  margin-right: 10em;
  text-transform: lowercase;
}

button.lang-button {
  padding: 0.5rem;
  background-color: var(--color1);
  font-weight: bold;
  border: none;
  text-align: right;
}

button.lang-button a {
  color: var(--back);
  text-align: right;
}

button.lang-button a:visited {
  color: var(--back);
}

p.droite {
  text-align: right;
}